/*===============
  global styles
===============*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  /* padding-top: 10px; */
}

.light {
  --clr-bg: #f9c5da;
  --clr-bg-alt: #efea81;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #692055;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.dark {
  --clr-bg: #24011b;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #ffffff;
  --clr-fg-alt: #fbfbfd;
  --clr-primary: #f9c5da;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;

}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

/*===================
  buttons and links
===================*/

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
  font-size: 1.2rem;
}

.btn {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:focus,
.btn--outline:hover {
  color: var(--clr-bg);
}

.btn--outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
  font-size: 1.2rem;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

/*========
  layout
========*/

.center {
  display: flex;
  align-items: center;
}

.header {
  height: 8em;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 5em;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.nav__hamburger {
  display: none;
  width: 1em;
}

.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  text-align: justify;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}
/*
.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
  text-align: justify;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
*/
.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project {
  perspective: 1000px; /* Gives depth to the flip effect */
}

.project__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.project:hover .project__inner {
  transform: rotateY(180deg);
}

.project__front, .project__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.project__front {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__back {
  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  padding: 1em;
}

.project__image {
  max-width: 100%;
  height: auto;
}

.project__description {
  margin-top: 1em;
  text-align: justify;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

/* my code*/
.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.contact {
  flex-direction: column;
}

.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }

  .section {
    margin-top: 4em;
  }

  .nav__list {
    flex-direction: column;
    padding: 4em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--clr-bg);
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }

  .display-nav-list {
    width: 100%;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    margin-left: 0.8em;
  }

  .about {
    align-items: flex-start;
    margin-top: 2em;
  }

  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .scroll-container {
    display: none;
  }
}

.last-updated {
  font-size: 10px !important;
}

/* .last-updated {
  font-size: 12px;

}
@media (max-width: 600px) {
  .last-updated {
    font-size: 10px;
  }
} */


.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* Ensures cards take full width in the grid column */
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.64s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 25px;
  border-radius: 24px;
  background: transparent;
  color: #000000;
  z-index: 1;
  transition: all 0.64s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2978b5;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: skew(-24deg);
  clip-path: circle(0% at 50% 50%);
  transition: all 0.64s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
}

.content .para {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  display: flex;
  /* align-items: center; Align items vertically */
}

.date {
  margin-right: 20px;
  /* Adjust as needed for the desired space */
}

.content .para-sm {
  font-size: 14px;
}

.card:hover::before {
  opacity: 1;
  transform: skew(0deg);
  clip-path: circle(140.9% at 0 0);
}

.card:hover .content {
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  /* Adjust the size of the circle */
  height: 70px;
  /* Adjust the size of the circle */
  border-radius: 50%;
  /* background-color: #2978b5; */
  color: #ffffff;
  font-size: 18px;
  z-index: 1;
  transition: all 0.64s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 10px;
  /* Add padding between image and circle */
}

.icon img {
  width: 100%;
  /* Take up full width of the parent circle */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 50%;
  /* Ensure the image itself is also circular */
  object-fit: cover;
  /* Cover the entire space within the circle */
}

.card:hover .icon {
  background-color: #ffffff;
  color: #2978b5;
}

.certificates__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.content .cheading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  z-index: 1;
  color: var(--clr-fg-alt);
}


/* FOR BOUNCY EFFECT TO THE SOCIAL CARD */
/*
.scard img {
  height: 25px;
}

.scard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}

.scard::before, .scard::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.scard::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #4d60b6;
}

.scard::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}

.scard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.scard:hover span {
  opacity: 0;
  z-index: -3;
}

.scard:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.scard:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.scard span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #2978b5;

  font-size: 20px;
  font-weight: 450;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.scard .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.scard .social-link img {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
} */

/* .scard .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;

}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */






.scard img {
  height: 25px;
}

.scard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}

.scard::before,
.scard::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.scard::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #4d60b6;
}

.scard::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}

.scard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scard:hover span {
  opacity: 0;
  z-index: -3;
}

.scard:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.scard:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.scard span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #2978b5;
  font-size: 20px;
  font-weight: 450;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.scard .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.5s ease-out, background-color 0.25s ease-out;
}

.scard .social-link img {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.scard .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  transform: scale(1.3);
}